html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

h1,
h2,
.about-h1,
.blog-h1,
.work-h1 {
  font-family: "Satoshi", sans-serif;

  font-weight: 500;
}
h2 {
  font-size: 40px;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.about-h1,
.blog-h1,
.work-h1 {
  margin-top: 10%;
  text-align: center;
}

#aboutLinks {
  margin-top: 8%;
  justify-content: center;
}
#header,
.image-row1,
.image-row2,
.image-row3,
.row,
#aboutLinks {
  display: flex;
  flex-direction: row;
}
.head-img {
  margin-right: 10px;
  width: 300px;
  height: 210px;
}

#header {
  justify-content: center;
}

#aboutLinks {
  margin-top: 2%;
}
.aboutIcon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.header-text {
  margin-top: 13%;
  padding-left: 5%;
  text-align: center;
}

.header-btn1 {
  font-size: 14px;
  width: 190px;
  padding: 3%;
  background-color: #b1886a;
  border: none;
  color: #fff;
}

.header-btn1:hover {
  border-color: #97745b;
  color: #97745b;
  border: solid;
  background-color: transparent;
  transition: 2s;
}

ul {
  list-style: none;
}
.row,
.about-h3 {
  margin-top: 10%;
}
.MainBlogIntro {
  margin: 5% 0 7%;
}
small.blogSmall {
  margin-left: 44%;
  color: #36383a;
}
.mainBlogLink,
.about-cta {
  color: #000;
  font-size: large;
  text-decoration: none;
  --s: 0.1em; /* the thickness of the line */
  --c: #b1886a; /* the color */
  margin-top: 5%;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.mainBlogLink {
  margin-top: 10%;
  margin-left: 45%;
}

.mainBlogLink:hover,
.about-cta:hover {
  --_p: 100%;
  color: #b1886a;
}

#MainBlogWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.blog1,
.blog2,
.blog3 {
  width: 33%;
  text-align: center;
}
.mainBlog-p {
  width: 55%;
  font-size: 17px;
  color: #505356;
  margin: auto;
  padding-bottom: 5%;
}
.blog-img1,
.blog-img3 {
  width: 380px;
  height: 380px;
}
.blog-img2 {
  width: 280px;
  height: 280px;
}

footer {
  background-color: #b1886a;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.footer-logo {
  width: 40px;
  height: auto;
}
.footer-nav {
  padding: 0;
}
.footer-col {
  padding: 50px;
  text-align: left;
}
footer h5 {
  padding-bottom: 10%;
}
.footer-col li {
  text-align: start;
  font-size: medium;
}

.row {
  width: 100%;
  margin-top: 0;
  justify-content: center;
}

.newsletter {
  height: fit-content;
  padding: 2%;
}
.newsletterH5 {
  padding-bottom: 0;
}
#newsletter input,
#newsletter button {
  padding: 10px;
  width: 200px;
  border: none;
}
#newsletter input {
  background-color: transparent;

  border: solid;
}
#newsletter ::placeholder {
  color: #000;
}
.newsletterP {
  font-size: 16px;
}
#newsletter button {
  background-color: transparent;
  border: solid;
  padding: 10px;
}
#newsButton:hover {
  border-color: #97745b;
  color: #fff;
  border: solid;
  background-color: transparent;
  transition: 2s;
}
.nav-linkFooter {
  text-decoration: none;
  color: #000;
}
