@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Tenor+Sans&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Archivo Narrow", sans-serif;
  color: #062c30;
}
h1,
h2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  color: black;
}
.about-h1,
.blog-h1,
.work-h1 {
  margin-top: 10%;
  text-align: center;
}
.nav-burger {
  width: 40px;
  height: 40px;
}

#header {
  margin-top: 8%;
  justify-content: center;
}
#header,
.image-row1,
.image-row2,
.image-row3,
.row {
  display: flex;
  flex-direction: row;
}

.head-img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.header-text {
  margin-top: 13%;
  padding-left: 5%;
}
.logo {
  width: 200px;
  margin-top: -5%;
  height: 200px;
  padding-bottom: 5%;
}
.navbar-toggler {
  margin-top: -7%;
}
.navbar-logo {
  width: 100px;
  height: 100px;
  margin-top: -7%;
  margin-left: -10%;
}
.header-btn1,
.header-btn2 {
  margin-top: 6%;
  margin-right: 4%;
  padding: 10px;
  width: 150px;
}
ul {
  list-style: none;
}
.row {
  margin-top: 10%;
}
h2 {
  text-align: center;
  margin-top: 10%;
}

.mainBlogLink {
  color: #062c30;
  font-size: large;
  text-decoration: none;
  --s: 0.1em; /* the thickness of the line */
  --c: #e2d784; /* the color */
  margin-left: 45%;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.mainBlogLink:hover {
  --_p: 100%;
  color: #e2d784;
}
#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog3,
.blog4 {
  padding: 3%;
}
.blog-img1 {
  width: 400px;
  height: 400px;
}
.blog-img2 {
  width: 250px;
  height: 250px;
}
.blog-img3 {
  width: 300px;
  height: 350px;
}
footer {
  padding: 3%;
}
.footer-logo {
  width: 100px;
  height: 100px;
}
.row {
  width: 100%;
  margin-top: 0;
  justify-content: center;
}
.newsletter {
  background-color: #f0ecdd;
  padding: 2%;
}
@media (max-width: 700px) {
  #header {
    flex-direction: column-reverse;
    margin-top: 10%;
  }
  .navbar-toggler {
    margin-top: -30%;
  }
  .row {
    flex-direction: column;
  }
  .newsletter {
    width: 100%;
  }
}
