@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Tenor+Sans&display=swap");

body {
  font-family: "Archivo Narrow", sans-serif;
  background-color: #f8f7f7;
  color: #062c30;
}
h1 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  color: black;
}
.nav-burger {
  width: 40px;
  height: 40px;
}

#header {
  margin-top: 8%;
  justify-content: center;
}
#header,
.image-row1,
.image-row2,
.image-row3,
footer {
  display: flex;
  flex-direction: row;
}

.head-img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.header-text {
  margin-top: 13%;
  padding-left: 5%;
}
.logo {
  width: 200px;
  margin-top: -5%;
  height: 200px;
  padding-bottom: 5%;
}
.navbar-toggler {
  margin-top: -7%;
}
.navbar-logo {
  width: 100px;
  height: 100px;
  margin-top: -7%;
  margin-left: -10%;
}
.header-btn1,
.header-btn2 {
  margin-top: 6%;
  margin-right: 4%;
  padding: 10px;
  width: 150px;
}
ul {
  list-style: none;
}
.row {
  margin-top: 10%;
}
@media (max-width: 700px) {
  #header {
    flex-direction: column-reverse;
    margin-top: 10%;
  }
  .navbar-toggler {
    margin-top: -30%;
  }
}
